body {
    font-family: "Raleway", sans-serif;
  }
  .sub {
    color:black;
  }
  
  #navbarNav{
    justify-content: end;  
    
  }
  
  ul{
    list-style-type: none ;
    padding: 0;
  }
  /* Hero Section */
  
  #Hero-Section {
    background-image: url("imgs/porta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  #Hero-Section2 {
    background-image: url("imgs/cv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  
  /* Mis trabajos */
  
  #Mis-portafolio .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size:auto;
    background-position:top;
    -ms-flex-item-align: auto;
    
  }
  .altodeimagen{
    height: 300px;
  }
  .bg-info {
    --bs-bg-opacity: 1;
    background-color: rgb(62, 175, 24) !important;
  } 
  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
      height: 50px;
    }
  
  }
  